.header{
    background-color:  rgb(15, 1, 77);
    color: rgb(255, 255, 255);
    width: 100%;
  
}
h1{
    width: 100%;
    font-size: 50px;
}

h1:hover{
    color: rgb(18, 215, 250);
}
section{
    margin: auto;
}
.clock-section{
    background-color: rgb(22, 22, 22);
    width: 1200px;
    text-align: center;
    font-size: 200px;
    border: 60px solid rgb(3, 4, 87);
    color: white;
    font-weight: 600;
    font-family: sans-serif;
    margin: 50px auto;
}
.clock-section:hover{
   color: rgb(247, 6, 227) ;
   transition: all .5s ease-in-out;
}  

@media only screen and (min-width: 340px){
    .header{
        background-color:  rgb(15, 1, 77);
        color: rgb(255, 255, 255);
        width: 1400px;
      
    }
    h1{
      
        font-size: 50px;
    }
    
    
}
